<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "allison" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid black;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #F9DECE ;
            }
        </style>
    </head>
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 30px;">Allison Huang</h1>
    <body style="background-color:#FFC0CB;">
    <img src="/static/assets/mask_on_allison.JPG" id="maskOff" style="width: 200px">

    <p><button class="button" onclick="toggleImage()">Click Me</button></p>

    <script>
        function toggleImage() {
            var img = document.getElementById("maskOff");
            if (img.src.match("/static/assets/mask_on_allison.JPG")){
                img.src = "/static/assets/mask_off_allison.jpg";
            }else{
                img.src = "/static/assets/mask_on_allison.JPG"
            }
        }
    </script>



    <p style="font-family: 'Agency FB', monospace; padding: 5px; color:black; font-size: 20px;">I'm the Scrum Master for our team (Fire Eradicators). I'm a senior at DNHS and I'm excited to help people with disaster information and prevention.</p>
    <li><a href="https://docs.google.com/presentation/d/1DApdo31H95xfT2xFg8UQQlewpzwJxkxVgRRZPVxQS9U/edit?usp=sharing">Notes and quizzes</a></li>
    <li><a href="https://github.com/anika1sharma1/n225_FireEradicatorsTheSequel">Link to Repo w/README timeboxes</a></li>
    <li><a href="https://docs.google.com/document/d/1K2nbEtweqG5_sxcvbFO6eGg_9f6ZynfHEdR8k2EA-WE/edit?usp=sharing">Link to create task plan</a></li>

        <form action="/allison">
            <button>Refresh</button>
        </form>

    <div>
        <p>Words of wisdom: {{ Z.content }}</p>
    </div>

{% endblock %}