<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "allison" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid black;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #F9DECE ;
            }
        </style>
    </head>
    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 30px;">Allison Huang</h1>
    <body style="background-color:#FFC0CB;">
    <img src="">
    <p style="font-family: 'Agency FB', monospace; padding: 5px; color:black; font-size: 20px;">Scrum Master</p>
    <!--using a form to pass the location name-->

{% endblock %}