<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "christina" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
<head>

</head>
<body style="background-color:#FF9999;">
<!-- Try building a new body here -->
<h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 30px;">Christina Lee</h1>
<p style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 20px;">GitHub Admin and Developer</p>
<p style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 20px;">Hello, I am here.</p>
<h2 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 20px;">Website Contributions</h2>
<ol style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 20px;">
  <li>base code</li>
</ol>


{% endblock %}