<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "christina" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #F9DECE ;
    }
  </style>
</head>
<h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 30px;">Christina Lee</h1>
<body style="background-color:#FF9999;">
<!-- Try building a new body here -->
<button onclick="document.getElementById('myImage').src='/static/assets/mask_on_christina.jpeg'">Mask On</button>

<img id="myImage" src="/static/assets/mask_on_christina.jpeg" style="width:400px">

<button onclick="document.getElementById('myImage').src='/static/assets/fires.jpeg'">Turn off the light</button>
<img src="">
<p style="font-family: 'Agency FB', monospace; padding: 5px; color:black; font-size: 20px;">GitHub Admin and Developer</p>
<!--using a form to pass the location name-->
<form action="/christina/" method="post">
  <label for="place">City: </label>
  <input type="text" id="place" name="place"><br><br>
  <input type="submit" value="Submit">
</form>
<p>{{detail}}</p>
<h2>Established links</h2>

<table>
  <tr>
    <th style="font-family: 'fantasy', cursive; padding: 5px; color:black; font-size: 20px;">Name</th>
    <th style="font-family: 'fantasy', cursive; padding: 5px; color:black; font-size: 20px;">Link</th>
    <th style="font-family: 'fantasy', cursive; padding: 5px; color:black; font-size: 20px;">Description</th>
  </tr>
  <tr>
    <td>Journal</td>
    <td><a href="https://docs.google.com/presentation/d/1DApdo31H95xfT2xFg8UQQlewpzwJxkxVgRRZPVxQS9U/edit?usp=sharing">link</a></td>
    <td>Here is where the video notes, quiz, and quiz corrections are for me and the team</td>
  </tr>
  <tr>
    <td>Commits</td>
    <td><a href="https://github.com/anika1sharma1/n225_FireEradicatorsTheSequel/graphs/contributors">link</a></td>
    <td>As GitHub Admin, I brought over all the base code so that we have a blank canvas to begin working on</td>
  </tr>
  <tr>
    <td>Tasks</td>
    <td><a href="https://github.com/anika1sharma1/n225_FireEradicatorsTheSequel/issues/assigned/christinlee367">link</a></td>
    <td>The tasks that I have done and currently doing complete with links and tangibles in each of the tasks</td>
  </tr>
  <tr>
    <td>Performance task Idea</td>
    <td>... to be updated</td>
    <td>The game of badminton. To navigate through this uncommon game, my idea is to create an algorithm where the user can input the number of times they made a mistake categorizing each problem as +0. This may take many layers of code to accurately calculate the instructions
      For example to get an idea of what kind of game they are playing, but it is a challenge that I think is worth taking.
      Int count = 0 // representing the number of mistakes
      If it is with four people, then double lines == count
      If so, then count it as a point for the other side.
      print(“one point for opposing team)
    </td>
  </tr>
  <tr>
    <td>... to be updated</td>
    <td>... to be updated</td>
    <td>... to be updated</td>
  </tr>
  <tr>
    <td>... to be updated</td>
    <td>... to be updated</td>
    <td>... to be updated</td>
  </tr>
</table>

{% endblock %}
