<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "gigi" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
<!-- Try building a new body here -->
<body style="background-color:#F3CFC6;">

<h1>☁ Gigi Guan ☁ </h1>
<p>✨ Deployment Manager and Developer</p>
<p>Hello, I am here.</p>

<button class="button button1" onclick="myFunction()">Click Me</button>


<div id="myDIV">
  This is my DIV element.
</div>


<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "document.getElementById('myImage').src='/static/assets/mask_off_gigi.png'";
    } else {
    x.style.display = "none";
  }
}
</script>
<img id="myImage" src="/static/assets/mask_off_gigi.png" style="width:300px">



<h2>Links</h2>
<ol>
  <li><a href="https://docs.google.com/presentation/d/1DApdo31H95xfT2xFg8UQQlewpzwJxkxVgRRZPVxQS9U/edit?usp=sharing">Notes & Quiz</a></li>
</ol>

<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>
<div class="jumbotron text-center" style= "width: 950px; height: 325px; margin: 50px 200px;">
  <div class="col-md">
    <h3>Learn a New Word!</h3>
    <style>
      .button {
        border: none;
        color: black;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .button1 {background-color: #be355e;} /* Pink */
      .button2 {background-color: #D2B48C;} /* Tan */

    </style>
    </head>
    <body>
<form action="/gigi">
  <button class="button button2">Refresh</button>
</form>
<br>
<p><strong>Word: </strong>{{ Y[0].word }}</p>
<p><strong>Definition: </strong>{{ Y[0].definition }}</p>
<p><strong>Pronunciation: </strong>{{ Y[0].pronunciation }}</p>

<div class="row justify-content-md-center">
</div>



{% endblock %}