<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>Team Venus</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F68F8C;">
    <a class="navbar-brand" style="margin-left: 1em;" >Masks for Social Justice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('index') }}>Home</a></li>
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('shopnow') }}>Shop Now</a></li>
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('feedback') }}>Customer Feedback</a></li>
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('blog') }}>Blog</a></li>
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('quiz') }}>Quiz</a></li>
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('crud.crud_login') }}>Login</a></li>
{#            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('size') }}>Size Guide</a></li>#}
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('upload') }}>Upload</a></li>

        </ul>
    </div>



</nav>
</body>
