<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <title>Team Eradicators</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F68F8C;">
    <a class="navbar-brand" style="margin-left: 1em;" >Fire Eradicators</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li><a class="nav-link" style="font-palette: #ffffff;" href={{ url_for('index') }}>Home</a></li>
            <li><a class="nav-link" href={{ url_for('journal') }}>Journal</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('gigi.gigi') }}>Gigi</a>
                    <a class="dropdown-item" href={{ url_for('anika.anika') }}>Anika</a>
                    <a class="dropdown-item" href={{ url_for('allison.allison') }}>Allison</a>
                    <a class="dropdown-item" href={{ url_for('christina.christina') }}>Christina</a>
                    <a class="dropdown-item" href={{ url_for('neha.neha') }}>Neha</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Women in Disasters
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('tracy_jarman') }}>Tracy Jarman</a>
                    <a class="dropdown-item" href={{ url_for('anna_mani') }}>Anna Mani</a>
                    <a class="dropdown-item" href={{ url_for('lydia_sijp') }}>Lydia Sijp</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Forum
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('disastermap') }}>Disaster Map</a>
                    <a class="dropdown-item" href={{ url_for('earthquakerating') }}>Earthquake Rating</a>
                    <a class="dropdown-item" href={{ url_for('createtask.earthquakegraph') }}>Earthquake Graph</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    PBL
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('recent_updates') }}>Recent Updates</a>
                    <a class="dropdown-item" href={{ url_for('impacts') }}>Impacts</a>
                    <a class="dropdown-item" href={{ url_for('weather_fun') }}>Fun</a>
                    <a class="dropdown-item" href={{ url_for('earthquake_monitor') }}>Earthquake Monitor</a>
                    <a class="dropdown-item" href={{ url_for('forecasting') }}>Fore-Core</a>
                    <a class="dropdown-item" href={{ url_for('christinaWeath') }}>API#2CL</a>

                </div>
            </li>

            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Natural Disaster Info
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('Tornado') }}>Tornadoes</a>
                    <a class="dropdown-item" href={{ url_for('Tsunami') }}>Tsunami</a>

            </li>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                    Database
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <a class="dropdown-item" href={{ url_for('crud.crud') }}>SQL CRUD</a>
                    <a class="dropdown-item" href={{ url_for('crud.search') }}>SQL Search</a>
                </div>
            </li>
        </ul>
    </div>

        <div class="gcse-search">
            <input id="search" type="search" placeholder="Search" aria-label="Search">
        </div>
        <script async src="https://cse.google.com/cse.js?cx=0edd34ddc2b6a4073"></script>


</nav>
</body>
