{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}

<h2>Anna Mani</h2>

    <body style="background-color:#FFC0CB;">

<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="/static/assets/annaMani.jpg"  style="width: 400px">
        </div>
        <div class="col-sm">
            Accomplishments and impact
            <br>
            <br>
            India’s pioneering woman scientist who made significant contributions in the field of solar radiation, ozone and wind energy instrumentation. In 1939, she graduated from the Presidency College in Madras, with a B.Sc Honors degree in physics and chemistry.

            After graduating from the Presidency college, she worked under Prof. C V Raman, researching the optical properties of ruby and diamond. She authored five research papers, but she was not granted a PhD because she did not have a master's degree in physics. Then she moved to Britain to study pursue physics, but she ended up studying meteorological instruments at Imperial College London. After returning to India in 1948, she joined the Meteorological department in Pune. She published numerous research papers on meteorological instrumentation. She retired as the deputy director general of the Indian Meteorological department in 1976.
        </div>
        <div class="col-sm">
            Picture of accomplishments
            <br>
            <br>
            <img src="/static/assets/887873-sghxxguixl-1534932879.jpg" style="width: 400px">
        </div>
    </div>
</div>


{%endblock%}