{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}

    <h2>Lydia Sijp</h2>

    <body style="background-color:#FFC0CB;">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                Picture
                <br>
                <br>
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQHW6B7USuAiuQ/profile-displayphoto-shrink_200_200/0/1606502610712?e=1648080000&v=beta&t=tRfKPosaOcoGCUKJW5QL2P1QrTPaE5jT4BZRHo7Ld2o"  style="width: 300px">
            </div>
            <div class="col-sm">
                Accomplishments and impact
                <br>
                <br>
                Lydia is one of several Cook Island women who took part in the UNITAR Tsunami-based Disaster Risk Reduction (DRR) Programme. The programme, supported by the Government of Japan, trains female professionals from small island developing states on leadership in disaster risk reduction.

                Nearly 200 women from the Pacific and Indian Ocean countries have been trained to date and are using what they learned to help their country better prepare for and manage disasters.

                Lydia is a planning and advisory officer with Emergency Management Cook Islands (EMCI), under the National Disaster Management Office, where she works alongside Tauepa Tupa-Tutakiao, a 2019 UNITAR alumna.

                Wearing two hats of a government official and a local leader, Lydia links the national government and the local communities so they can share resources and information to respond effectively prepare for and respond to disaster.
            </div>
            <div class="col-sm">
                Picture of accomplishments
                <br>
                <br>
                <body>
                <img src="/static/assets/pic1.png" id="pic1" style="width: 400px">
                <p><button class="button" onclick="toggleImage()">Click to see more pictures</button></p>
                </body>
            </div>
        </div>
    </div>

    <script>
        function toggleImage() {
            var image = document.getElementById('pic1');
            if (image.src.match("/static/assets/pic1.png")) {
                image.src = "/static/assets/pic2.png";
            } else {
                image.src = "/static/assets/pic1.png";
            }
        }
    </script>


{%endblock%}