{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}

<h2>Tracy Jarman</h2>

<!--<<<<<<< HEAD-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            Picture Hi :)
        </div>
        <div class="col-sm">
            Accomplishments and impact
        </div>
        <div class="col-sm">
            Picture of accomplishments
        </div>
    </div>
</div>

<!--=======-->
    <img src="https://ca-times.brightspotcdn.com/dims4/default/a0bdf35/2147483647/strip/true/crop/3045x1854+0+0/resize/840x511!/format/webp/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fzbk%2Fdumberto%2FJ%2FData01%2FUTPhotos%2F2009%2F20090513%2FASMT297464%2FUTI1437892.jpg" style="width: 200px">
    <li><a href="https://www.sandiegouniontribune.com/news/local-history/story/2021-06-27/from-the-archives-tracy-jarman-became-san-diegos-first-female-chief-in-2006">Link to informative article</a></li>
<!--&gt;>>>>>> fd34e7b (added bare bones)-->

    <body style="background-color:#FFC0CB;">
    <body> Currently interim chief, Jarman inherits a struggling agency, but it’s one she’s familiar with. She started with the San Diego Fire-Rescue Department 22 years ago as a recruit. She was planning to retire this month, but she changed her mind when the chief’s job opened up. </body>

    <body>
    <img src="/static/assets/fires.jpeg" id="fires" style="width: 200px">
    <p><button class="button" onclick="toggleImage()">Click to extinguish the fire</button></p>
    </body>

    <script>
        function toggleImage() {
            var img = document.getElementById("fires");
            if (img.src.match("/static/assets/fires.jpeg")){
                img.src = "/static/assets/drylands.jpeg";
            }else{
                img.src = "/static/assets/fires.jpeg"
            }
        }
    </script>

{%endblock%}