{% extends "layouts/base.html" %}
{%block head%}

{%endblock%}

{%block body%}

<h2>Tracy Jarman</h2>

<!--<<<<<<< HEAD-->
<div class="container">
    <div class="row">
        <div class="col-sm">
            Picture Hi :)
        </div>
        <div class="col-sm">
            Accomplishments and impact
        </div>
        <div class="col-sm">
            Picture of accomplishments
        </div>
    </div>
</div>

<!--=======-->
    <img src="https://ca-times.brightspotcdn.com/dims4/default/a0bdf35/2147483647/strip/true/crop/3045x1854+0+0/resize/840x511!/format/webp/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fzbk%2Fdumberto%2FJ%2FData01%2FUTPhotos%2F2009%2F20090513%2FASMT297464%2FUTI1437892.jpg" style="width: 200px">
    <li><a href="https://www.sandiegouniontribune.com/news/local-history/story/2021-06-27/from-the-archives-tracy-jarman-became-san-diegos-first-female-chief-in-2006">Link to informative article</a></li>
<!--&gt;>>>>>> fd34e7b (added bare bones)-->

{%endblock%}