<!-- Extending the predefined project layout -->
{#{% extends "layouts/base.html" %}#}
{##}
{#{% block head%}#}
{##}
{#{% endblock %}#}
{##}
{#<!-- This variable sets name of browser tab  -->#}
{#{% set project = "Disaster News" %}#}
{##}
{#<!-- This is a replacement block for Body in base.html -->#}
{#{% block body %}#}
{#<head>#}
{#<body>#}
{#<p style="font-family: 'Helvetica', monospace; padding: 20px; color:black; font-size: 20px;">Natural Disaster News</p>#}
{#<p style="font-family: 'Helvetica', monospace; padding: 20px; color:black; font-size: 20px;">News feed {{ C.type }}</p>#}
{##}
{#</body>#}
{#</html>#}
{##}
{##}
{#{% endblock %}#}