<!-- Extending the predefined project layout -->
{% extends "layouts/about.html" %}

{% block head%}

{% endblock %}

<!-- This variable sets name of browser tab  -->
{% set project = "disastermap" %}

<!-- This is a replacement block for Body in base.html -->
{% block body %}
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid black;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #F9DECE ;
            }
        </style>
    </head>

    <h1 style="font-family: 'Agency FB', monospace; padding: 20px; color:black; font-size: 30px;">Disaster Map</h1>
    <body style="background-color:#FFC0CB;">
    <p style="font-family: 'Agency FB', monospace; padding: 5px; color:black; font-size: 20px;">This is a disaster map. Go to a random location to find the areas that could have potentially have natural disasters around you. It starts at Del Norte High School, but explore around the area to learn the community.</p>


    <div class="container">
        <div class="row">

            <div class="col-sm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6691.115621168641!2d-117.12114667704463!3d33.0154316774234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dba1ec35227da1%3A0x59bf2ef553075a2b!2sDel%20Norte%20High%20School!5e0!3m2!1sen!2sus!4v1641277292526!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>

            <div class="col-sm">
                <div class="col-12">
                    <form action="/greet_disastermap" id="greet_disastermap_id" method="POST" >
                        <label for="comment" style="color: #be355e; font-family: 'Helvetica'" >Where did you travel?</label>
                        <input name="comment" id="comment" style = "background-color: #be355e; color: white; 200px ">
                        <input type="submit" value="Post" style = "background-color: #E37383; color: white; 200px ">
                    </form>
                </div>
                <p style="font-family: 'Agency FB', monospace; padding: 5px; color:black; font-size: 10px;">{{ comment }}</p>

                <button button class="button" id="button" style = "background-color: #E37383; color: white; 200px " >Liked 0 times!</button><img class="image" src="https://drive.google.com/thumbnail?id=18Q_fmYiKM9M5hqxpkFISApp3_xrinw3Y" />

                <style>
                    .image {
                        display: none;
                    }

                    .button:active ~ .image{
                        display: block;
                    }
                </style>

                <script>
                    //set count of clicks by default to = 0
                    var count = 0;

                    var button = document.getElementById('button');

                    button.onclick = updateStatus;

                    function updateStatus() {
                        // "++count" counts the number of clicks, displays in between like and times
                        button.textContent = 'Liked ' + ++count + ' times!';
                    }
                </script>

            </div>

        </div>

        <table style="width:75%">
            <tr>
                <th>Question</th>
                <th>Done?</th>
                <th>Are your prepared?</th>
            </tr>

            <td>
                <label>
                    <span>Do you have a fire extinguisher in the house?</span>
                    <input type="checkbox" name="A" class="incline checkbox" id="abox" value="1">
                </label>
                <label>
                    <span>Do you know what fault lines are near you?</span>
                    <input type="checkbox" name="A" class="incline checkbox" id="abox" value="1">
                </label>
                <label>
                    <span>Do you have a sturdy object to hide under?</span>
                    <input type="checkbox" name="A" class="incline checkbox" id="abox" value="1">
                </label>
            </td>

            <td><input type="button" onclick="myFxn()" class="button button2" value="Done"></td>
            <td><span id="uno"></span></td>


            <script>
                function myFxn() {
                    const x = document.getElementById("abox")
                    const y = document.getElementById("bbox")

                    if (x.checked || y.checked) {
                        document.getElementById("uno").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
                        var i = 1


                    }
                    if (x.checked && y.checked) {
                        document.getElementById("uno").innerHTML = "<img src=static/assets/drylands.jpeg height=125 width=125></img>"
                        var i = 2
                    }
                    if (!(x.checked || y.checked)) {
                        document.getElementById("uno").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125> </img>"
                        var i = 0

                    }

                    const c = document.getElementById("cbox")
                    const d = document.getElementById("dbox")
                    if (c.checked || d.checked) {
                        document.getElementById("dos").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
                        var o = 1
                    }
                    if (c.checked && d.checked) {
                        document.getElementById("dos").innerHTML = "<img src=static/assets/drylands.jpeg height=125 width=125></img>"
                        var o = 2
                    }
                    if (!(c.checked || d.checked)) {
                        document.getElementById("dos").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                        var o = 0
                    }

                    const e = document.getElementById("ebox")
                    const f = document.getElementById("fbox")
                    if (e.checked || f.checked) {
                        document.getElementById("tres").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"
                        var p = 1
                    }
                    if (e.checked && f.checked) {
                        document.getElementById("tres").innerHTML = "<img src=static/assets/drylands.jpeg height=125 width=125></img>"
                        var p = 2
                    }
                    if (!(e.checked || f.checked)) {
                        document.getElementById("tres").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                        var p = 0
                    }
                    const z = document.getElementById("zbox")
                    var decimals = (i + o + p) / 6
                    var decimalsper = decimals*100 + "%"
                    if (z.checked) {
                        document.getElementById("result").innerHTML = decimalsper;
                    }


                    if (decimals > .8) {
                        document.getElementById("pictureresult").innerHTML = "<img src=static/assets/drylands.jpeg height=125 width=125></img>"
                    }
                    else
                    {
                        if (decimals < .5) {
                            document.getElementById("pictureresult").innerHTML = "<img src=static/assets/realsadsad.PNG height=125 width=125></img>"
                        }
                        else {
                            document.getElementById("pictureresult").innerHTML = "<img src=static/assets/sortsort.PNG height=125 width=125></img>"

                        }
                    }
                }
            </script>


{% endblock %}